Language: Cpp
Standard: c++17
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 140
AccessModifierOffset: -4
SortIncludes: Never
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Right
